body {
    background-color: #f7f7f7;
}

.dashboard {
    display: flex;
}

.dashboard .menu-left {
    background-color: #111832;
    height: 100vh;
    color: #ffffff;
    min-width: 285px;
    position: fixed;
}

.dashboard .menu-left .logo {
    font-family: 'Raleway';
    padding: 20px 40px 20px 20px;
    display: flex;
    align-items: center;
}

.dashboard .menu-left .logo svg {
    margin-right: 12px;
}

.dashboard .menu-left .logo p {
    margin: 0;
}

.dashboard .menu-left .menu-content {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dashboard .menu-left .menu-item {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-left: 5px solid transparent;
    transition: all 0.1s ease-out;
    box-sizing: border-box;
}

.dashboard .menu-left .menu-item.selected {
    background-color: #112142;
    border-left: 5px solid #678dec;
}

.dashboard .menu-left .menu-item:hover {
    background-color: #112142;
    transition: all 0.1s ease-in;
}

.dashboard .menu-left .menu-item svg  {
    min-height: 20px;
    min-width: 20px;
    margin-right: 10px;
}

.dashboard .menu-left .menu-item p  {
    margin-bottom: 0;
}

.dashboard .content-right {
    background-color: #f7f7f7;
    width: calc(100% - 285px);
    padding-left: 285px;
}

.dashboard .content-right.students,
.dashboard .content-right.companies,
.dashboard .content-right.reports,
.dashboard .content-right.mentors,
.dashboard .content-right.internships {
    display: none;
}

.dashboard .content-right .content-menu-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #ffffff;
    padding: 23px 10px;
    width: calc(100% - 285px);
    position: fixed;
    -webkit-box-shadow: 2px 2px 52px 0px #bdbdbd45;
    -moz-box-shadow: 2px 2px 52px 0px #bdbdbd45;
    box-shadow: 2px 2px 52px 0px #bdbdbd45;
}

.dashboard .content-right .content-menu-top .setup {
    cursor: pointer;
}

.dashboard .content-right .content-menu-top a {
    text-decoration: none;
    color: #0b1126;
    display: inline-block;
    margin: 0 20px 0 30px;
}

.dashboard .content-right .content {
    padding: 86px 20px 30px;
}

.dashboard .content-right.home .title {
    color: #0B1126;
    font-weight: bold;
    font-size: 24px;
}

/* Students */

.dashboard .students-list-wrapper {
    padding: 30px;
}

.dashboard .students-list-wrapper .title {
    font-size: 18px;
    color: #0B1126;
}

.dashboard .list {
    width: 100%;
    background-color: #ffffff;
}

.dashboard .list tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #717c8e66;
    padding: 19px 20px;
}

.dashboard .list tr:last-child {
    border-bottom: none;
}

.dashboard .list tr th {
    text-transform: uppercase;
    font-weight: bold;
    color: #717c8e;
    font-size: 16px;
}

.dashboard .list tr td {
    color: #0B1126;
}

.dashboard .list tr td,
.dashboard .list tr th {
    width: 20%;
    display: block;
    text-align: left;
}

.dashboard .list.validation-students tr td,
.dashboard .list.validation-students tr th {
    width: 20%;
}

.dashboard .list.validation-companies tr td,
.dashboard .list.validation-companies tr th {
    width: 16.6%;
}

.dashboard .list .student-remove {
    text-align: center;
    border-left: 1px solid #717c8e66;
}

.dashboard .signup {
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 52px 0px #bdbdbd45;
    -moz-box-shadow: 2px 2px 52px 0px #bdbdbd45;
    box-shadow: 2px 2px 52px 0px #bdbdbd45;
}

.dashboard .signup h2 {
    background-color: #112142;
    padding: 10px 20px 20px;
    font-size: 18px;
    color: #ffffff;
    border-left: 5px solid #678dec;
}

.dashboard .signup form {
    padding: 10px 26px;
    text-align: center;
    margin-bottom: 0;
}

.dashboard .signup form label {
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.dashboard .signup form input,
.dashboard .signup form textarea {
    color: #111832;
    width: 100%;
    font-size: 16px;
    padding: 6px 12px;
}

.dashboard .signup form textarea {
    resize: none;
    min-height: 80px;
}

.dashboard .signup form input[type="submit"] {
    width: 157px;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    background-color: #112142;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}

.dashboard .signup form input[type="submit"]:hover {
    background-color: #111832;
    transition: all 0.2s ease-in-out;
}

.dashboard .signup .form-field-flex {
    display: flex;
    justify-content: space-between;
}

.dashboard .signup .form-field-flex .form-field {
    width: 48%;
}

.dashboard .signup .form-field {
    margin-bottom: 12px;
}