body {
    background-color: #f7f7f7;
}

.dashboard {
    display: flex;
}

.dashboard .menu-left {
    background-color: #111832;
    height: 100vh;
    color: #ffffff;
    min-width: 285px;
    position: fixed;
}

.dashboard .menu-left .logo {
    font-family: 'Raleway';
    padding: 20px 40px 20px 20px;
    display: flex;
    align-items: center;
}

.dashboard .menu-left .logo svg {
    margin-right: 12px;
}

.dashboard .menu-left .logo p {
    margin: 0;
}

.dashboard .menu-left .menu-content {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dashboard .menu-left .menu-item {
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-left: 5px solid transparent;
    transition: all 0.1s ease-out;
    box-sizing: border-box;
}

.dashboard .menu-left .menu-item.selected {
    background-color: #112142;
    border-left: 5px solid #678dec;
}

.dashboard .menu-left .menu-item:hover {
    background-color: #112142;
    transition: all 0.1s ease-in;
}

.dashboard .menu-left .menu-item svg  {
    min-height: 20px;
    min-width: 20px;
    margin-right: 10px;
}

.dashboard .menu-left .menu-item p  {
    margin-bottom: 0;
}

.dashboard .content-right {
    background-color: #f7f7f7;
    width: calc(100% - 285px);
    padding-left: 285px;
}

.dashboard .content-right.students,
.dashboard .content-right.companies,
.dashboard .content-right.reports,
.dashboard .content-right.mentors,
.dashboard .content-right.internships {
    display: none;
}

.dashboard .content-right .content-menu-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #ffffff;
    padding: 23px 10px;
    width: calc(100% - 285px);
    position: fixed;
    -webkit-box-shadow: 2px 2px 52px 0px #bdbdbd45;
    -moz-box-shadow: 2px 2px 52px 0px #bdbdbd45;
    box-shadow: 2px 2px 52px 0px #bdbdbd45;
    box-sizing: border-box;
}

.dashboard .content-right .content-menu-top .setup {
    cursor: pointer;
}

.dashboard .content-right .content-menu-top a {
    text-decoration: none;
    color: #0b1126;
    display: inline-block;
    margin: 0 20px 0 30px;
}

.dashboard .content-right .content {
    padding: 86px 20px 30px;
}

.dashboard .content-right.home .title {
    color: #0B1126;
    font-weight: bold;
    font-size: 24px;
}

/* Students */

.students-list-wrapper {
    padding: 30px 20px 30px;
}

.students-list-wrapper .title {
    font-size: 18px;
    color: #0B1126;
}

.list {
    width: 100%;
    background-color: #ffffff;
}

.list tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #717c8e66;
    padding: 19px 20px;
}

.list tr:last-child {
    border-bottom: none;
}

.list tr th {
    text-transform: uppercase;
    font-weight: bold;
    color: #717c8e;
    font-size: 16px;
}

.list tr td {
    color: #0B1126;
}

.list tr td,
.list tr th {
    width: 20%;
    display: block;
    text-align: left;
}

.list.validation-students tr td,
.list.validation-students tr th {
    width: 20%;
}

.list.validation-companies tr td,
.list.validation-companies tr th {
    width: 16.6%;
}

.list .student-remove {
    text-align: center;
    border-left: 1px solid #717c8e66;
}

.list .student-remove .edit {
    cursor: pointer;
}

.dashboard .signup {
    background-color: #ffffff;
    -webkit-box-shadow: 2px 2px 52px 0px #bdbdbd45;
    -moz-box-shadow: 2px 2px 52px 0px #bdbdbd45;
    box-shadow: 2px 2px 52px 0px #bdbdbd45;
    margin: 20px;
}

.dashboard .signup h2 {
    background-color: #112142;
    padding: 20px;
    font-size: 18px;
    color: #ffffff;
    border-left: 5px solid #678dec;
}

.dashboard .signup form {
    padding: 10px 26px;
    text-align: center;
    margin-bottom: 0;
}

.dashboard .signup form label {
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.dashboard .signup form input,
.dashboard .signup form textarea {
    color: #111832;
    width: 100%;
    font-size: 16px;
    padding: 6px 12px;
}

.dashboard .signup form textarea {
    resize: none;
    min-height: 80px;
}

.dashboard .signup form input[type="submit"] {
    width: 157px;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    background-color: #112142;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}

.dashboard .signup form input[type="submit"]:hover {
    background-color: #111832;
    transition: all 0.2s ease-in-out;
}

.dashboard .signup .form-field-flex {
    display: flex;
    justify-content: space-between;
}

.dashboard .signup .form-field-flex .form-field {
    width: 48%;
}

.dashboard .signup .form-field {
    margin-bottom: 12px;
}


/*Home*/
.dashboard .home-dash .home-dash-title {
    background-color: #112142;
    padding: 20px;
    font-size: 18px;
    color: #ffffff;
    border-left: 5px solid #678dec;
}

.dashboard .home-dash .home-dash-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.dashboard .home-dash .home-dash-control {
    background-color: #ffffff;
    width: calc((100% - 30px) / 3);
    min-width: 262px;
    margin-right: 15px;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #bbbbbb40;
}

.dashboard .home-dash .home-dash-control:last-child {
    margin-right: 0;
}

.dashboard .home-dash .home-dash-control .control-title {
    color: #585d68;
    font-weight: bold;
    padding-bottom: 9px;
    border-bottom: 1px solid #717c8e66;
}

.dashboard .home-dash .home-dash-control p strong {
    color: #E57E46;
}

.dashboard .home-dash .home-dash-control button {
    color: #ffffff;
    text-transform: uppercase;
    background-color: #112142;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}

.dashboard .home-dash .home-dash-control button:hover {
    background-color: #111832;
    transition: all 0.3s ease-in-out;
}

/*Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 50px 30px 40px;
    border: 1px solid #888;
    width: 80%;
    position: relative;
}

.modal .modal-content .close {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

/*Modal Sign-up Admin*/
.modal .title {
    background-color: #112142;
    padding: 20px;
    font-size: 18px;
    color: #ffffff;
    border-bottom: 5px solid #678dec;
    margin-bottom: 25px;
}

.modal form {
    text-align: center;
}

.modal form label {
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.modal form input{
    color: #111832;
    width: 100%;
    font-size: 16px;
    padding: 6px 12px;
}

.modal form input[type="submit"] {
    width: 157px;
    margin-top: 20px;
    color: white;
    text-transform: uppercase;
    background-color: #112142;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
}

.modal form input[type="submit"]:hover {
    background-color: #111832;
    transition: all 0.2s ease-in-out;
}

.modal .form-field-flex {
    display: flex;
    justify-content: space-between;
}

.modal .form-field-flex .form-field {
    width: 48%;
}

.modal .form-field {
    margin-bottom: 12px;
}


/*Empresa*/
.content.empresa .list tr td, .content.empresa  .list tr th {
    width: 33%;
}